
/*appear animation start*/
@keyframes content-appear {
  0%{
      transform: translateY(-50px);
      opacity: 0%;
  }

  100%{
transform: translateY(0);
    opacity: 100%;
    }
}

.card-svg{

  opacity: 0;
  position:absolute;
  top: 24px;
  right: 32px;
  z-index: 1;
}

.letter:hover .card-svg {
  opacity: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s ease-in-out  forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/*appear animation end*/
/*like animation start*/
.like-input{
  width: 46px;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  transform: scale(1);
  transition: all 0.3s ease-in;
}
#like{
  display: block;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 80px;
  height: 71px;
  top: 0;
  left: 0;
  z-index: 99;
}
#like:checked ~ .like-input{
fill:rgb(220, 72, 127);
}
#container_like{
position: relative;
width: 46px;
height: auto;
margin-right: 5%;
}
#container_like:hover .like-input{
  width: 46px;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  transform: scale(1.05);
}
#like:checked ~ .like-input{
animation: like-animation 0.4s 0s ;
}
@keyframes like-animation {
  0%{
      transform: scale(0.9);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

@media screen and (max-width: 640px) {
  #container_like{
  position: relative;
  width: 46px;
  height: auto;
  margin-right: 15%;
  }
}

/*like animation end*/
